@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'header';
@import 'section-top';
@import 'sectionSubscribe';
@import 'section-info';
@import 'footer';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1600px;
  margin: auto;
  background-color: gray;
}

.section-center {
  .model-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    height: 777px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    &__arrow {
      width: 47px;
      height: 47px;
      background-color: rgba(42, 42, 42, 0.14);
      @include centerFlex;
    }
    &__model {
      margin-bottom: 16px;
    }
  }
  .offers-product {
    height: 1289px;
    background-color: $colorFonOne;
    padding-inline: 230px;
  }
}
